footer{
    border-top: 2px solid #4711ef;
    position: fixed;
    bottom: 0;
    width: 90%;
}

footer a{
    font-family: 'Bog-Caps', 'Bog', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #282828;
    font-weight: bold;
    line-height: 50px;
    transition: 0.3s;
}

footer a:hover{
    text-decoration: underline #282828;
    transition: 0.3s;
}

.partner img{
    height: 50px;
    width: auto;
    filter: contrast(0.3);
    transition: 0.3s;
}

.partner img:hover{
    filter: contrast(1);
    transition: 0.3s;
}

.partner{
    float: right;
}

.devi-logo{
    width: 75px;
    height: 75px;
    background: white url(../icons/logo.svg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
}

.devi-text{
    font-family: 'Main', 'Bog-Caps', 'Bog', sans-serif;
    font-size: 30px;
    margin: 0;
    float: left;
    margin-left: 35px;
    margin-top: 30px;
}

header{
    width: 100%;
    height: 105px;
    margin-top: 20px;
}

.gohomeboy img{
    height: 35px;
    background: #ededed;
    padding: ;
}

.gohomeboy{
    float: right;
}

.abouttext{
    width: 1015px;
    height: 750px;
    margin-top: 65px;
    float: left;
}

.title{
    font-size:40px;
    font-family: 'Bog-Caps', sans-serif;
    font-weight: bold;
    margin: 0;
}

.desc {
    font-size: 26px;
    font-family: 'Bog', sans-serif;
    margin: 0;
    margin-bottom: 35px;
}

.ceo {
    float: right;
    margin-top: 65px;
}

.ceo-image {
    width: 215px;
    height: 220px;
    background: #C1C1C1;
    border-radius: 25px;
}

.ceo-card {
    width: 215px;
    height: 300px;
    background: #EDEDED;
    border-radius: 25px;
    margin-left: -85px;
    display: inline-block;
}

.nika {
    font-size: 20px;
    font-family: 'Bog', sans-serif;
    font-weight: bold;
    padding-top: 240px;
    text-align: center;
}

/* .co-foundercard {
    width: 215px;
    height: 300px;
    background: #EDEDED;
    border-radius: 25px;
    margin-left: 170px;
    margin-top: -322px;
}

.co-founderimage {
    width: 215px;
    height: 220px;
    background: #C1C1C1;
    border-radius: 25px;
}

.temo {
    font-size: 20px;
    font-family: 'Bog', sans-serif;
    font-weight: bold;
    padding-top: 240px;
    text-align: center;
}

.lazyboah {
    width: 215px;
    height: 300px;
    background: #EDEDED;
    border-radius: 25px;
    margin-left: 350px;
    margin-top: -322px;
}

 */
