[data-theme="dark"] {
    background-color: #121212;
}

.devi-logo{
    width: 75px;
    height: 75px;
    background: transparent url(../icons/logo.svg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
}

[data-theme="dark"] .devi-logo{
    background: transparent url(../icons/logo.svg);
}

.devi-text{
    font-family: 'Main', 'Bog-Caps', 'Bog', sans-serif;
    font-size: 30px;
    margin: 0;
    float: left;
    margin-left: 35px;
    margin-top: 30px;
}

[data-theme="dark"] .devi-text{
    color: white;
}

header{
    width: 100%;
    height: 105px;
    margin-top: 20px;
}

.gohomeboy img{
    height: 30px;
    padding: 10px 10px;
    transform: rotate(180deg);
}

.gobckicon{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #EDEDED;
    border-radius: 15px;
}

[data-theme="dark"] .gobckicon{
    background: #0c0c0c;
}

[data-theme="dark"] .gohomeboy img{
    filter: invert(0.8);
}

.homescreen{
    float: right;
    font-family: 'Bog-Caps', 'Bog', sans-serif;
    font-size: 35px;
    color: #4711ef;
    padding-left: 20px;
    margin-top: 5px;
}

.gohomeboy{
    float: right;
    cursor: pointer;
    transition: 0.3s;
}

.gohomeboy:hover{
    padding-bottom: 5px;
    border-bottom: 5px solid #4727f1;
    transition: 0.3s;
}

.abouttext{
    width: 1000px;
    margin-top: 85px;
    float: left;
}

.title{
    font-size:40px;
    font-family: 'Bog-Caps', sans-serif;
    font-weight: bold;
    margin: 0;
}

[data-theme="dark"] .title{
    color: rgba(255, 255, 255, 0.788);
}

.desc {
    font-size: 26px;
    font-family: 'Bog', sans-serif;
    margin: 0;
    margin-bottom: 35px;
}

[data-theme="dark"] .desc{
    color: rgba(255, 255, 255, 0.411);
}

.ceo {
    float: right;
    margin-top: 85px;
    width: 680px;
}

.ceo-image {
    width: 100%;
    height: 220px;
    background: #C1C1C1;
    border-radius: 25px;
}

[data-theme="dark"] .ceo-image{
    background: #090909;
}

.ceo-card {
    width: 215px;
    height: 300px;
    background: #EDEDED;
    border-radius: 25px;
    float: left;
    margin-left: 11px;
}

[data-theme="dark"] .ceo-card{
    background: #0c0c0c;
}

.ceo-title{
    text-align: center;
    font-weight: normal;
    margin-bottom: 30px;
}

.ceo-name{
    font-family: 'Bog-Caps', 'Bog', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 17px 20px;
}

[data-theme="dark"] .ceo-name{
    color: rgba(255, 255, 255, 0.411);
}

.social-border{
    float: right;
    margin-top: 60px;
    width: 680px;
}

.social{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.social-title{
    font-size: 28px;
    text-align: center;
}

.social-icon{
    width: 88px;
    height: 88px;
    background: #EDEDED;
    margin-right: 19px;
    display: inline-block;
    border-radius: 20px;
    margin-top: 25px;
    cursor: pointer;
}

[data-theme="dark"] .social-icon{
    background: #090909;
}

#darkSwitch {
    width: 20px;
    height: 20px;
}

.darkmtxt {
    display: inline-block;
    font-family: 'main', sans-serif;
    font-size: 2.13em;
    margin: 5px;
    color: #070707;
}

.dark-mode{
    float: left !important;
    margin-top: 8px !important;
    filter: initial !important;
}

[data-theme="dark"] .dark-mode {
    filter: invert(1) !important;
    transition: 0.3s;
}

[data-theme="dark"] header {
    background: transparent !important;
}

[data-theme="dark"] .darkmtxt {
    color: rgb(218, 218, 218);
}

@media only screen and (max-width: 1800px) {
    .abouttext {
        width: 798px;
    }
}

@media only screen and (max-width: 1550px) {
    .abouttext {
        margin-top: 50px;
        width: 670px;
    }
    .title {
        font-size: 35px;
    }
    .desc {
        font-size: 22px;
    }
    .ceo, .social-border {
        margin-top: 50px;
        width: 530px;
    }
    .ceo-card {
        width: 165px;
        height: 260px;
    }    
    .ceo-image{
        height: 185px;
    }
    .ceo-name{
        font-size: 16px;
    }
    .social {
        width: 85%;
    }    
}

@media only screen and (max-width: 1250px) {
    .abouttext {
        width: 100%;
    }
    .devi-text {
        display: none;
    }
    .devi-logo {
        width: 100px;
        height: 100px;
    }  
    .homescreen {
        display: none;
    }  
    .gobckicon{
        width: 100px;
        height: 100px;
        border-radius: 35px;
    }
    .gohomeboy img {
        height: 50px;
        padding: 24.5px;
    }
    .ceo, .social-border {
        float: left;
        width: 100%;
    }
    .ceo-card {
        width: 220px;
        height: 300px;
        margin-left: 12px;
    }
    .ceo-image {
        height: 215px;
    }
    .ceo-name {
        font-size: 22px;
    }
    .social {
        width: 64%;
    }
    .icon{
        width: 45px;
        height: 45px;
        margin: 22px;
    }
}

@media only screen and (max-width: 750px) {
    .devi-text {
        display: none;
    }
    .devi-logo {
        width: 75px;
        height: 75px;
    } 
    .abouttext {
        width: 100%;
        margin-top: 0;
    }
    .homescreen {
        display: none;
    }
    .gobckicon {
        width: 75px;
        height: 75px;
        border-radius: 25px;
    }
    .gohomeboy img {
        height: 40px;
        padding: 16px 17px;
    }
    .title {
        font-size: 28px;
    }
    .desc {
        font-size: 20px;
    }
    .ceo {
        width: 100%;
        float: left;
    }
    .ceo-title{
        font-size: 24px;
    }
    .ceo-card {
        width: 100%;
        height: 395px;
        margin-bottom: 25px;
        margin-left: 0;
    }
    .ceo-image {
        width: 100%;
        height: 295px;
        border-radius: 25px;
    }

    .social-border {
        float: left;
        margin-top: 60px;
        width: 100%;
    }
    .social-icon {
        width: 88px;
        height: 88px;
        margin-right: 0px;
        border-radius: 20px;
        margin-top: 3px;
    }
    .social {
        width: 180px;
    }
    .ceo-name{
        font-size: 28px;
    }
}