footer{
    border-top: 2px solid #4711ef;
    width: 100%;
    float: left;
}

footer a{
    font-family: 'Bog-Caps', 'Bog', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #282828;
    font-weight: bold;
    line-height: 50px;
    transition: 0.3s;
}

footer a:hover{
    text-decoration: underline #282828;
    transition: 0.3s;
}

.partner img{
    height: 50px;
    width: auto;
    filter: contrast(0.3);
    transition: 0.3s;
}

.partner img:hover{
    filter: contrast(1);
    transition: 0.3s;
}

.partner{
    float: right;
}

.devi-logo{
    width: 75px;
    height: 75px;
    background: white url(../icons/logo.svg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
}

.devi-text{
    font-family: 'Main', 'Bog-Caps', 'Bog', sans-serif;
    font-size: 30px;
    margin: 0;
    float: left;
    margin-left: 35px;
    margin-top: 30px;
}

header{
    width: 100%;
    height: 105px;
    margin-top: 20px;
}

.gohomeboy img{
    height: 30px;
    padding: 10px 10px;
}

.gobckicon{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #EDEDED;
    border-radius: 15px;
}

.homescreen{
    float: right;
    font-family: 'Bog-Caps', 'Bog', sans-serif;
    font-size: 35px;
    color: #4711ef;
    padding-left: 20px;
    margin-top: 5px;
}

.gohomeboy{
    float: right;
    cursor: pointer;
    transform: 0.3s;
}

.gohomeboy:hover{
    padding-bottom: 5px;
    border-bottom: 5px solid #4727f1;
    transition: 0.3s;
}

.abouttext{
    width: 1000px;
    margin-top: 85px;
    float: left;
}

.title{
    font-size:40px;
    font-family: 'Bog-Caps', sans-serif;
    font-weight: bold;
    margin: 0;
}

.desc {
    font-size: 26px;
    font-family: 'Bog', sans-serif;
    margin: 0;
    margin-bottom: 35px;
}

.ceo {
    float: right;
    margin-top: 85px;
    width: 680px;
}

.ceo-image {
    width: 215px;
    height: 220px;
    background: #C1C1C1;
    border-radius: 25px;
}

.ceo-card {
    width: 215px;
    height: 300px;
    background: #EDEDED;
    border-radius: 25px;
    float: left;
    margin-left: 11px;
}

.ceo-title{
    text-align: center;
    font-weight: normal;
    margin-bottom: 30px;
}

.ceo-name{
    font-family: 'Bog-Caps', 'Bog', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 17px 20px;
}

.social-border{
    float: right;
    margin-top: 60px;
    width: 680px;
}

.social{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.social-title{
    font-size: 28px;
    text-align: center;
}

.social-icon{
    width: 88px;
    height: 88px;
    background: #EDEDED;
    margin-right: 19px;
    display: inline-block;
    border-radius: 20px;
    margin-top: 25px;
}

@media only screen and (max-width: 650px) {
    .devi-text {
        display: none;
    }

    .abouttext {
        width: 100%;
        margin-top: 0;
    }

    .homescreen {
        display: none;
    }

    .gobckicon {
        width: 75px;
        height: 75px;
        border-radius: 25px;
    }

    .gohomeboy img {
        height: 40px;
        padding: 16px 17px;
    }

    .title {
        font-size: 28px;
    }

    .desc {
        font-size: 20px;
    }

    .ceo {
        width: 100%;
        float: left;
    }

    .ceo-title{
        font-size: 24px;
    }

    .ceo-card {
        width: 100%;
        height: 415px;
        margin-bottom: 25px;
        margin-left: 0;
    }
    .ceo-image {
        width: 100%;
        height: 295px;
        border-radius: 25px;
    }

    .social-border {
        float: left;
        margin-top: 60px;
        width: 100%;
    }
    .social-icon {
        width: 81px;
        height: 81px;
        margin-right: 0px;
        border-radius: 20px;
        margin-top: 3px;
    }
    .social {
        width: 100%;
    }
    .ceo-name{
        font-size: 28px;
    }
    footer{
        margin-top: 50px;
    }
}

