.ads{
    width: 300px;
    float: right;
    transition: 0.3s;
}

.ad{
    width: 260px;
    height: 480px;
    background: #ededed;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
}

[data-theme="dark"] .ad{
    background: #0c0c0c;
    transition: 0.3s;
}