.active{
    color: #11a5ef;
}

.active:hover{
    color: #11a5ef;
}

[data-theme="dark"] .active{
    color: #11a5ef;
    transition: 0.3s;
}

nav{
    background: #11a5ef;
    width: 100%;
    height: 80px;
}

[data-theme="dark"] nav{
    background: #1094d6;
    transition: 0.3s;
}

.on{
    border-bottom: 3px solid #11a5ef;
}

.overlay p {
    border-bottom: 3px solid #11a5ef;
}

footer{
    border-top: 3px solid #11a5ef;
}

@media only screen and (max-width: 750px){
    footer{
        border-top: 2px solid #11a5ef;
    }
}