.main-head{
    padding-top: 20px;
    width: 1450px;
    position: fixed;
    background: white;
    height: 55px;
    z-index: 1;
}

[data-theme="dark"] .main-head{
    background: #121212;
    transition: 0.3s;
}

.gobtn{
    width: 50px;
    height: 50px;
    background: #ededed;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

[data-theme="dark"] .gobtn{
    background: #0c0c0c;
    transition: 0.3s;
}

.gobtn:hover{
    background: #d8d8d8;
    transition: 0.3s;
}

[data-theme="dark"] .gobtn:hover{
    background: #1f1f1f;
    transition: 0.3s;
}

.next{
    float: right;
}

.prev, .title{
    float: left;
}

.gobtn img{
    height: 25px;
    transition: 0.3s;
}

[data-theme="dark"] .gobtn img{
    filter: invert(0.7);
    transition: 0.3s;
}

.prev img{
    transform: rotate(180deg);
}

.title{
    font-family: 'Bog-Caps', sans-serif;
    padding-left: 30px;
    font-size: 40px;
    margin: 0;
    transition: 0.3s;
}

[data-theme="dark"] .title{
    color: #d8d8d8;
    transition: 0.3s;
}

@media only screen and (max-width: 1830px){
    .main-head {
        width: 1200px;
    }
}

@media only screen and (max-width: 1550px){
    .main-head {
        width: 1000px;
    }
}

@media only screen and (max-width: 1450px){
    .main-head {
        width: 900px;
    }
}

@media only screen and (max-width: 1250px){
    .main-head {
        width: 700px;
    }
    .contact{
        padding-top: 20px;
    }
}

@media only screen and (max-width: 750px){
    .main-head {
        width: 270px;
    }
    .title {
        padding-left: 8px;
        font-size: 16px;
        width: 150px;
        margin-top: 4px;
        text-align: center;
    }
}

h2{
    margin: 0;
}