.logo {
    width: 75px;
    height: 75px;
    background: transparent url(../icons/logo.svg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    margin-top: 25px;
}

.logo-text{
    font-family: 'Main', 'Bog-Caps', 'Bog', sans-serif;
    font-size: 30px;
    margin: 0;
    float: left;
    margin-left: 35px;
    margin-top: 48px;
    color: black;
}

[data-theme="dark"] .logo-text{
    color: #ededed;
}

[data-theme="dark"] header{
    background: #0c0c0c;
}

header ul{
    float: right;
    margin-top: 42px;
}

header ul li a{
    color: black;
    text-decoration: none;
    font-family: 'Bog-Caps', sans-serif;
    font-weight: bold;
    margin-left: 45px;
    font-size: 36px;
}

[data-theme="dark"] header ul li a{
    color: #ededed;
    transition: 0.3s;
}

header ul li{
    display: inline-block;
}

.active{
    color: #4c10f2;
}

.active:hover{
    color: #4c10f2;
}

[data-theme="dark"] .active{
    color: #4c10f2;
    transition: 0.3s;
}

header{
    width: 100%;
    height: 140px;
}

nav{
    background: #4c10f2;
    width: 100%;
    height: 80px;
    z-index: 1;
}

[data-theme="dark"] nav{
    background: #370bb1;
    transition: 0.3s;
}

nav a{
    font-family: 'Main', 'Bog-Caps', sans-serif;
    font-size: 40px;
    color: #ededed;
    text-decoration: none;
    margin-right: 65px;
}

.menu{
    padding-top: 15px;
    float: left;
}

.activated{
    padding-bottom: 6px;
    box-shadow: 0px 10px 0px white;
}

.dark-mode{
    float: right;
    padding-top: 25px;
}

#darkSwitch {
    width: 30px;
    height: 30px;
}

.dark-mode-icon{
    width: 30px;
    height: 30px;
    background: url(../icons/night-mode-icon.svg);
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    filter: invert(1);
    transition: 0.3s;
}

[data-theme="dark"] .dark-mode-icon{
    filter: invert(0);
    transition: 0.3s;
}