.start-learning{
    width: 1450px;
    height: 230px;
    background: #edd9ca;
    padding-top: 20px;
    transition: 0.3s;
    border-radius: 10px;
}

.intro{
    width: 1450px;
    height: 80px;
    background: #edd9ca;
    padding-top: 20px;
    transition: 0.3s;
    border-radius: 10px;
}

[data-theme="dark"] .start-learning, .intro{
    background: #e0740e47;
    transition: 0.3s;
}

.start-learning p, .intro p{
    margin: 0;
    font-family: 'Bog', sans-serif;
    font-size: 16px;
    padding-left: 80px;
    padding-top: 20px;
    transition: 0.3s;
}

[data-theme="dark"] .start-learning p{
    color: #dedede;
    transition: 0.3s;
}

[data-theme="dark"] .intro p{
    color: #dedede;
    transition: 0.3s;
}

.start-learning button{
    margin-left: 80px;
    width: 375px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Bog-Caps', sans-serif;
    background: #f27e10;
    color: white;
    margin-top: 25px;
    transition: 0.3s;
}


.start-learning button:hover{
    background: rgb(250, 155, 66);
    transition: 0.3s;
}

[data-theme="dark"] .start-learning button:hover{
    background: #b65902;
    transition: 0.3s;
}

.satauri{
    font-family: 'Bog-Caps', sans-serif;
    font-size: 18px !important;
    font-weight: bold;
}

.quizes{
    background: transparent;
}

.quizes p{
    line-height: 30px;
}

[data-theme="dark"] .quizes{
    background: transparent;
}

.what-is-html, .simple-html-document, .magalitis-axsna{
    padding-left: 80px;
    margin-top: 50px;
}

.html-structure{
    padding-left: 80px;
}

.html-structure-desc{
    margin: 0;
    font-family: 'Bog', sans-serif;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 30px;
    transition: 0.3s;
}

[data-theme="dark"] .html-structure-desc{
    color: #dedede;
}

.html-page-structure{
    width: 740px;
}

.cont-title{
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 'Bog-Caps', sans-serif;
}

.what-is-html ul, .magalitis-axsna ul{
    padding: 15px;
    list-style: circle;
}

.what-is-html ul li, .magalitis-axsna ul li{
    font-family: 'Bog', sans-serif;
    font-size: 16px;
    line-height: 28pt;
}

.magalitis-axsna{
    width: 1070px;
}

[data-theme="dark"] .what-is-html ul li{
    color: #dedede;
}

[data-theme="dark"] .magalitis-axsna ul li{
    color: #dedede;
}

[data-theme="dark"] .cont-title{
    color: #dedede;
}

@media only screen and (max-width: 1830px){
    .start-learning, .intro{
        width: 1200px;
    }
    .quizes{
        width: 1100px;
    }
}

@media only screen and (max-width: 1550px){
    .start-learning, .intro{
        width: 1000px;
    }
    .quizes{
        width: 900px;
    }
    .magalitis-axsna{
        width: 850px;
    }
}

@media only screen and (max-width: 1450px){
    .start-learning, .intro{
        width: 900px;
    }
    .quizes{
        width: 800px;
    }
    .magalitis-axsna {
        width: 735px;
    }
}

@media only screen and (max-width: 1250px){
    .start-learning, .intro{
        width: 700px;
    }
    .quizes{
        width: 600px;
    }
    .magalitis-axsna {
        width: 80%;
    }
    .what-is-html{
        width: 80%;
    }
    .html-page-structure{
        width: 90%;
    }
}

@media only screen and (max-width: 750px){
    .start-learning{
        width: 270px;
        height: 215px;
    }
    .intro{
        width: 270px;
        height: 70px;
    }
    .quizes{
        width: 260px;
    }
    .start-learning p, .intro p{
        font-size: 12px;
        padding-left: 14px;
        padding-top: 10px;
    }
    .start-learning button {
        margin-left: 14px;
        width: 240px;
        height: 42px;
        border: none;
        margin-top: 25px;
        font-size: 12px;
    }
    .satauri{
        font-size: 14px !important;
    }
    .quizes p {
        line-height: 19px;
    }
    .what-is-html, .simple-html-document, .magalitis-axsna, .html-structure {
        padding-left: 10px;
        margin-top: 25px;
    }
    .cont-title {
        font-size: 20px;
    }    
    .what-is-html ul li, .magalitis-axsna ul li {
        font-size: 12px;
        line-height: 15pt;
    }
    .what-is-html{
        width: 94%;
    }
    what-is-html ul, .magalitis-axsna ul {
        margin-top: 0;
    }
    .html-page-structure{
        width: 100%;
    }
}