.active{
    color: #f27e10;
}

.active:hover{
    color: #f27e10;
}

[data-theme="dark"] .active{
    color: #f27e10;
    transition: 0.3s;
}

[data-theme="dark"] .active:hover{
    color: #f27e10;
    transition: 0.3s;
}

nav{
    background: #f27e10;
    width: 100%;
    height: 80px;
}

[data-theme="dark"] nav{
    background: #e0740e;
    transition: 0.3s;
}

.on{
    border-bottom: 3px solid #f27e10;
}

.overlay p {
    border-bottom: 3px solid #f38a26;
}

footer{
    border-top: 3px solid #f27e10;
}

.ft-menu a:hover{
    border-bottom: 2px solid #f27e10;
}

@media only screen and (max-width: 750px){
    footer{
        border-top: 2px solid #f27e10;
    }
}