#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    position: absolute;
    width: 1200px;
    height: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    text-decoration: none;
    border-radius: 60px;
    background-color: rgb(255 255 255 / 10%);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(25px);
}

.inside-content{
    width: 40%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.devi-logo {
    width: 250px;
    height: 250px;
    background: transparent url(../icons/logo.svg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: 0.2s;
}

.devi-logo:hover {
    background: transparent url(../icons/logo-eye.svg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: 0.2s;
}

.devi-text{
    font-family: 'Main', 'Bog-Caps', 'Bog', sans-serif;
    font-size: 20px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 85px;
    font-weight: normal;
    color: #ededed;
}

.startmenu{
    font-size: 33px;
    font-family: 'Bog-Caps', 'Bog', sans-serif;
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 25px;
    transition: 0.3s;
}

.startmenu:hover{
    border-left: 5px solid #612eff;
    padding-left: 10px;
    transition: 0.3s;
}

footer {
    border-top: 2px solid #ededed;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    opacity: 0.7;
}

footer a {
    font-family: 'Bog-Caps', 'Bog', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #ededed;
    line-height: 50px;
    transition: 0.3s;
}

.partner img {
    height: 30px;
    width: auto;
    filter: invert(1);
    margin-top: 5px;
    transition: 0.3s;
}

.partner {
    float: right;
}