.devi-logo{
    width: 250px;
    height: 250px;
    background: white url(../icons/logo.svg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-top: 200px;
    margin-bottom: 180px;
    transition: 0.2s;
}

.devi-logo:hover{
    background: white url(../icons/logo-eye.svg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: 0.2s;
}

.partner img{
    height: 50px;
    width: auto;
    filter: contrast(0.3);
    transition: 0.3s;
}

.partner img:hover{
    filter: contrast(1);
    transition: 0.3s;
}

.partner{
    float: right;
}

button{
    width: 515px;
    height: 115px;
    background: #4711ef;
    color: white;
    font-family: 'Main', 'Bog-Caps', 'Bog', sans-serif;
    font-size: 58px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: 0.5s;
}

button:hover{
    box-shadow: 0px 10px 20px #4711ef94;
    transition: 0.5s;
}

h1{
    font-family: 'Main', 'Bog-Caps', 'Bog', sans-serif;
    font-size: 30px;
    margin: 0;
    font-weight: normal;
}

footer{
    border-top: 2px solid #4711ef;
    position: fixed;
    bottom: 0;
    width: 95%;
}

footer a{
    font-family: 'Bog-Caps', 'Bog', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #282828;
    font-weight: bold;
    line-height: 50px;
    transition: 0.3s;
}

footer a:hover{
    text-decoration: underline #282828;
    transition: 0.3s;
}

@media only screen and (max-width: 650px) {
    .devi-logo{
        width: 200px;
        height: 200px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
    button{
        width: 250px;
        height: 80px;
        font-size: 25px;
        border-radius: 20px;
        margin-bottom: 10px;
        transition: 0.5s;
    }
    footer{
        border-top: 2px solid #4711ef;
        position: fixed;
        bottom: 0;
        width: 90%;
    }
}


@media only screen and (max-width: 320px) {
    h1{
        display: none;
    }
}