.content{
    width: 1450px;
}

.vl-cover{
    width: 100%;
    height: 235px;
    border-radius: 40px;
    background: #4711ef;
    margin-top: 20px;
}

.vl-gobckbtn{
    font-family: 'Bog-Caps';
    cursor: pointer;
    font-family: 21px;
    font-weight: bold;
    transition: 0.3s;
    display: block;
    margin-top: 30px;
    color: white;
    float: left;
}

.vl-gobckbtn:hover{
    border-left: 3px solid white;
    padding-left: 5px;
    transition: 0.3s;
}

.vl-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.lenght{
    float: right;
    font-family: 'Bog-Caps';
    font-family: 21px;
    font-weight: bold;
    transition: 0.3s;
    display: block;
    margin-top: 30px;
    color: white;
}

.vl-info{
    margin-top: 90px;
}

.thumbnail{
    width: 215px;
    height: 155px;
    background: #4c10f2;
    border-radius: 40px;
    border: 10pt solid white;
    float: left;
    transition: 0.3s;
}

.vl-title{
    float: left;
    margin-left: 35px;
    margin-top: 125px;
    font-family: 'Bog-Caps';
    font-weight: bold;
    transition: 0.3s;
}

.vl-desc{
    margin-left: 90px;
    margin-top: 80px;
    position: absolute;
    font-family: 'Bog';
    font-weight: normal;
    font-size: 25px;
    width: 1200px;
}

.vl-vid{
    width: 640px;
    height: 460px;
    border-radius: 70px;
    background: #4711ef;
    position: absolute;
    margin-top: 160px;
}

.video{
    width: 640px;
    height: 460px;
    border-radius: 70px;
}

.comments{
    width: 650px;
    height: 360px;
    border-radius: 70px;
    background: #ededed;
    margin-top: 160px;
    float: right;
    padding: 50px;
    overflow: auto;
    transition: 0.3s;
}

[data-theme="dark"] .comments {
    background: #1b1b1b;
    transition: 0.3s;
}

[data-theme="dark"] .thumbnail {
    border: 10pt solid #121212;
    transition: 0.3s;
}

[data-theme="dark"] .vl-title {
    color: #ededed;
    transition: 0.3s;
}

[data-theme="dark"] .vl-desc {
    color: #ededed;
    opacity: 0.6;
    transition: 0.3s;
}

@media only screen and (max-width: 1830px){
    .content {
        width: 1200px;
    }
    .comments {
        width: 430px;
    }
    .vl-desc {
        width: 1000px;
    }
}

@media only screen and (max-width: 1550px){
    .content {
        width: 1000px;
    }
    .vl-desc {
        width: 900px;
    }
    .vl-vid, .video {
        width: 1000px;
        height: 500px;
    }
    .comments {
        width: 900px;
        padding-top: 150px;
        margin-top: 470px;
    }
}

@media only screen and (max-width: 1520px){
    .content {
        width: 1000px;
    }
    .vl-desc {
        width: 900px;
    }
    .vl-vid, .video {
        width: 1000px;
        height: 500px;
    }
    .comments {
        width: 900px;
        padding-top: 150px;
        margin-top: -205px;
    }
}

@media only screen and (max-width: 1450px){
    .content {
        width: 900px;
    }
    .vl-vid, .video {
        width: 900px;
        height: 500px;
    }
    .comments {
        width: 800px;
        padding-top: 150px;
        margin-top: 480px;
    }
    .vl-desc {
        width: 800px;
    }
}

@media only screen and (max-width: 1360px){
    .content {
        width: 900px;
    }
    .vl-vid, .video {
        width: 900px;
        height: 500px;
    }
    .comments {
        width: 800px;
        padding-top: 150px;
        margin-top: 480px;
    }
}

@media only screen and (max-width: 1330px){
    .comments {
        width: 800px;
        padding-top: 150px;
        margin-top: -210px;
    }
}

@media only screen and (max-width: 1250px){
    .content {
        width: 700px;
    }
    .vl-vid, .video {
        width: 700px;
        height: 500px;
    }
    .comments {
        width: 600px;
        padding-top: 150px;
        margin-top: 480px;
    }
    .vl-desc {
        width: 700px;
        margin-left: 52px;
    }
}

@media only screen and (max-width: 750px){
    .content {
        width: 270px;
    }
    .vl-cover {
        width: 100%;
        height: 155px;
        border-radius: 30px;
        margin-top: -60px;
    }
    .thumbnail {
        width: 180px;
        height: 135px;
        border: 6pt solid white;
        margin-top: 20px;
        margin-left: 8px;
    }
    [data-theme="dark"] .thumbnail {
        border: 6pt solid #121212;
        transition: 0.3s;
    }
    .vl-container{
        padding-top: 0px;
    }
    .vl-gobckbtn, .lenght{
        margin-top: 15px;
    }
    .vl-container {
        width: 80%;
    }    
    .vl-desc {
        width: 215px;
        margin-left: 52px;
        font-size: 12px;
        margin-top: 70px;
    }
    .vl-vid, .video {
        width: 270px;
        height: 160px;
        border-radius: 30px;
    }
    .comments {
        width: 240px;
        height: 331px;
        padding: 15px;
        padding-top: 90px;
        margin-top: -8px;
        border-radius: 70px;
        border-radius: 30px;
    }
}